.navbar {
    padding: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: #4D4C7D;
  }
  .navbar .page-title {
    color: #ffffff;
    margin-left: 20%;
    white-space: nowrap;
  }
  .navbar .link {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 20%;
  }

  .navbar button.recipe-create {
      background-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-radius: 6px;
      border-color: white;
      padding: 0.4em;
      font-size: 0.9em;
      color: white;
  }
  .navbar a {
    text-decoration: none;
    color: #ffffff;

  }
  .navbar a:hover {
    color: #E9D5CA;
  }